@charset "utf-8";

*{
    font-family: "Noto Sans Kr", sans-serif, "Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
    font-weight: 600;
    text-decoration: none;
    border-collapse: collapse; color:#333;
    margin: 0; padding: 0; box-sizing: border-box;
}
img{vertical-align: middle;}
li {list-style: none; }