@import '_mixin';
@import '_common';

*{margin: 0; padding: 0; box-sizing: border-box;
    font-family: "NotoSans", sans-serif; color: #333;
    font-size: 1rem; font-size: 1rem; line-height: 1.6;
    list-style:none;
}

body{position: relative;}
a{text-decoration-line:none;}
video, img{max-width: 100%; object-fit: cover;}
button{padding: 0; border: 0; background: transparent;}
section{display: block;}


// header:hover{
//     background-color: white;
//     transition: .2s;
// }



.header{
    position: fixed;
    top: 0; left: 0;
    width:100%;
    height: 64px;
    z-index: 999;
    &.active:after{
        content: '';
        width: 100%; height: 1px;
        background: #999;
        position: absolute;
        bottom: 0; left: 0;
    }
    .header_wrap{
        @include flex_space;
        height: 64px;
        margin: 0 auto;
        width: 100%;
        max-width: 1360px;
        .logo{
            display: block;
            width: 130px;
        }
        .dep1_menu_wrap{ 
            @include menu1_txt;
            @include flex_space;
            .dep1_menus{
                display: inline-block;
                padding: 0 25px;
                list-style: none;
                position: relative;
                .sub_wrap{
                    display: none;
                    width: 100%;
                    padding: 0;
                    position: fixed;
                    top: 64px; left: 0;
                    background-color: white;
                    .dep2_menus{
                        @include flex_center;
                        align-items: flex-start;
                        width: 100%;
                        margin-left: auto; margin-right: auto;
                        z-index: 5;
                        .dep2_menu{
                            padding: 15px 15px;
                            ul{  padding: 10px 0;
                                li{ padding: 2px 0;}
                            }
                        }
                    }
                }
                &:hover .sub_wrap{
                    display: block;
                }
            }
        }
        .menu_icons{
            @include flex_space;
            .lang_for{
                @include flex_center;
                min-width: 110px;
                height: 60px;
                padding: 1rem 0.8rem;
                
                .current_lang{
                    position: relative;
                    &:after{
                        content: '\ea01';
                        display: inline-block;
                        font-family: 'icon';
                        -webkit-font-smoothing: antialiased;
                        font-size: 1.2rem;
                        font-weight: normal;
                        position: absolute;
                        right: -22px;
                    }
                }
            }
            .icon_search {
                padding: 1rem 0.8rem;
                height: 60px;
                span {
                    &:after{

                    content: '\ea15';
                    font-family: icon;
                    font-size: 1.3rem;
                    


                    }
                }
                
            }
            
        }
    }
}




.section_visual{
    @include sectionHeight;
    .section_visual_in{
        width: 100%; height: 100vh;
        position: relative;
        ul{
            li{
                position: relative;
                .section_txt{
                    color: red;
                    @include sec_txt_b20;
                }
            }
        }
    }
}





.section_container{
    @include sec_comb;
    position:relative;
    .btn_next{
        @include fill_btn;
    }
    .section_txt{
        @include sec_txt_t30;
    }
}

.section_tumblr{
    @include sec_comb;
    background-color: rgb(255, 157, 122);
    .btn_next{
        @include fill_btn;
    }
    .section_txt{
        @include sec_txt_t30;
    }
}
.section_cookware{
    @include sec_comb;
    .btn_next{
        @include fill_btn;
    }
    .section_txt{
        @include sec_txt_t30;
    }
}
.section_appliances{
    @include sec_comb;
    .btn_next{
        @include fill_btn;
    }
    .section_txt{
        @include sec_txt_t30;
    }
}

.section_news{
    @include sectionHeight;
    @include flex_space;
    .section_news_in{
        width: 60%; margin: 0 auto;
        .section_header{
            @include flex_space;
            padding-bottom: 30px;
            align-items:flex-end;
            h2{
                font-size: 4rem;
                font-weight: 600;
                line-height: 7rem;
            }
            a{
                @include hover_rotate_btn
            }
        }
        ul{
            width: 100%;
            @include flex_space;
            align-items: flex-start;
            li{
                width: 30%;
                .news_effect{
                    width: 30%;
                    .news_img{
                        overflow: hidden;
                    }
                    .news_text_block{
                        padding-top: 15px;
                        .news_bg_txt{
                            display: inline-block;
                            background-color: #54565b;
                            font-size: 0.8rem;
                            font-weight: 600;
                            padding: 3px 8px;
                            color: white
                        }
                        strong{
                            display: inline-block;
                            padding: 15px 0 10px;
                            span{
                                font-size: 1.2rem;
                                line-height: 1.8rem;
                            }
                        }
                        .news_date_txt{
                            font-size: 0.8rem;
                            font-weight: 400;
                            color: #999;
                        }
                    }
                    &:hover strong > span {
                        text-decoration: underline;
                        transition:all ease-in-out .3s;   
                        
                        
                    }
                    &:hover .news_img > img{
                        transition:all ease-in-out .3s;   
                        transform: scale(1.1); 
                    }
                    
                }
            }
        }
    }
}
.section_lounge{
    @include sectionHeight;
    @include flex_space;
    background-color: #F7F7F7;
    .section_lounge_in{
        width: 100%; margin: 0 auto;
        .section_header{
                @include flex_space;
                width: 60%;
                margin: 0 auto;
                padding-bottom: 30px;
                align-items:flex-end;
            h2{
                font-size: 4rem;
                font-weight: 600;
                line-height: 7rem;
            }
            a{
                @include hover_rotate_btn;
            }
        }
        .sliders{
            width: 100%; height: 100vh;
            margin: 0 auto;
            ul{
                li{
                    position: relative;
                    width: 60%; margin: 0 auto;
                    height: 635px;
                    a{
                        @include img_fit;               
                        &:after{
                            content: '';
                            position: absolute;
                            top: 0; left: 0; right: 0; bottom: 0;
                            background: linear-gradient(
                                0deg, rgba(16, 24, 32, 0.3), rgba(16, 24, 32, 0.2), rgba(16, 24, 32, 0));;
                        }
                        &:hover .bg > img{
                            transform: scale(1.1);
                        }
                        
                        &:hover strong > span{
                            text-decoration: underline;
                            transition:all ease-in-out .3s;   
                        }

                        .bg{ overflow: hidden;}
                        .slide_txt{
                            width: 100%;
                            position: absolute;
                            bottom: 0; 
                            padding: 0 5% 5%;
                            z-index: 1;
                            strong{
                                span{
                                    color:white;
                                    font-size:1.5rem;
                                }
                            }
                            .target_box{
                                padding: 20px 0;
                                span{
                                    color:white;
                                }
                            }
                            .lounge_date{
                                color:white;
                                font-size: 0.8rem;
                            }
                        }

                    }
                }
            }
            .control_box{
                width: 60%; margin: 0 auto;
                height: 50px;
                padding-top: 50px;
                position: relative;
                @include flex_space;
                .control_bar_wrap{
                    width: 80%;
                    @include flex_center;
                    .control_bar{
                        width: 100%; height: 4px;
                        background-color:rgba(0,0,0,.2);
                        position: relative;
                        span{
                            position: absolute;
                            width: 33.3%; height: 4px;
                            background: black;
                            z-index: 5;
                        }
                    }
                }
                .controller{
                    @include flex_space;
                    width: 20%;
                    position: absolute;
                    right: 0px;
                    .btn_swipe_prev{
                        width: 60px; height: 60px;
                        &::after{
                            content: '\ea04';
                            display: inline-block;
                            font-family: 'icon';
                        }
                    }
                    .swipe_num{
                        @include flex_space;
                        .swipe_current{
                            margin: 0 0.6rem;
                        }
                        .swipe_length{
                            margin: 0 0.6rem;
                        }
                    }
                    .btn_swipe_next{
                        width: 60px; height: 60px;
                        &::after{
                            content: '\ea06';
                            display: inline-block;
                            font-family: 'icon';
                        }
                    }
                }
            }
        }
    }
}











.section_contact{
    width: 100%;
    position: relative;
    .contact_in{
        width: 60%; margin: 0 auto;
        padding: 100px 0 120px;
        .section_header2{
            h2{
                font-size: 4rem;
                padding-bottom: 10px;
            }
        }
        .contact_pad_row{
            display: flex;
            justify-content: space-between;
            width: 80%;
            .contact_pad1{
                width: 40%;
                .h3_txt{
                    @include h3_txt;
                }
                p{
                    padding-bottom:  20px ;
                }
                .btn_next{
                    display: inline-block;
                    padding: 14px 30px;
                    border: 1px solid black;
                    font-weight: 400;
                    @include fill_btn;
                    background: black;
                    span{
                        color:white;
                    }
                }
            }
            .contact_pad2{
                border-left: 1px solid rgba(16, 24, 32, 0.2);
                padding-left: 5%;
                width: 50%; 
                .h3_txt{
                    @include h3_txt;
                }
                .qna_btns{
                    a{
                        font-size: 0.8rem;
                        display: inline-block;
                        padding: 8px 18px;
                        border: 1px solid black;
                        border-radius: 5px;
                        color:black;
                        margin: 0 1px 8px;
                        &:hover{
                            background: black;
                            color: white;
                            transition: .3s;
                        }
                    }
                    
                }
                
            }

        }
    }
}



.banner{
    position: relative;
    width: 100%; height: 450px;
    .banner_img{
        background: rgb(50, 71, 205);
        width: 100%; height: 100%;
        position: relative;
        @include img_fit;
    }
    .banner_txt{
        position: absolute;
        top: 50%; left: 20%;
        // border: pink 1px solid;
        transform: translateY(-50%);
        .banner_txt_tit{
            font-size: 1.5rem;
            line-height: 2.2rem;
            font-weight: 500;
            color: white;
            padding-bottom: 30px;
        }
        .btn_next{
            display: inline-block;
            @include fill_btn;
            padding: 14px 30px;
            border: 1px solid white;
            span{
                color: white;
            }
        }

    }
}

.section_now{
    width: 100%; padding: 6rem 0;
    position: relative;
    .section_wrap{
        width: 60%; margin: 0 auto;
        .section_in{
            .section_header{
                width: 100%;
                padding-bottom: 30px;
                @include flex_space;
                align-items: flex-end;
                h2{
                    font-size: 4rem;
                    font-weight: 600;
                    line-height: 7rem;
                }
                a{@include hover_rotate_btn;}
            }
            ul{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                li{
                    width: 30%; 
                    margin-bottom: 5%;
                    position: relative;
                    a{  
                        display: inline-block;
                        width: 100%; 
                        position: relative;
                        .now_img_wrap{
                            display: inline-block;
                            width: 100%;
                            background: green;
                            img{ 
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                        .icon_insta{
                            position: absolute;
                            color: #FFF;
                            left: 0;    bottom: 0;
                            z-index: 1;
                            width: 100%;
                            padding: 5%;
                            font-size: 1.5rem;
                            text-align: right;
                            line-height: 1;                
                                &:before{
                                    content: '\ea18';
                                    display: inline-block;
                                    font-size: 1.5rem;
                                    font-family: 'icon';
                                    -webkit-font-smoothing: antialiased;
                                    font-weight: normal;
                                }
                                &:after{
                                    z-index: -1;
                                    content: '';
                                    position: absolute;
                                    top: 0; left: 0; right: 0; bottom: 0;
                                    background: linear-gradient(0deg, rgba(16, 24, 32, 0.3), rgba(16, 24, 32, 0.2), rgba(16, 24, 32, 0));
                                }
                            }  
                    }
    
                }
            }
        }
    }
}

footer{
    background: grey;
    text-align: center;
    padding: 50px;
    position: relative;
}
