@charset "UTF-8";
@import url("font.css");
p, span {
  word-break: keep-all;
  word-wrap: break-word;
}

* {
  font-family: "Noto Sans Kr", sans-serif, "Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  font-weight: 600;
  text-decoration: none;
  border-collapse: collapse;
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  word-break: keep-all;
  word-wrap: break-word;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "NotoSans", sans-serif;
  color: #333;
  font-size: 1rem;
  font-size: 1rem;
  line-height: 1.6;
  list-style: none;
}

body {
  position: relative;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

video, img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
}

section {
  display: block;
}

.header {
  -webkit-transition: .3s;
  transition: .3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: 999;
}

.header.active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header.white {
  background: #fff;
}

.header.h_underline {
  border-bottom: 1px solid #999;
}

.header .header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  margin: 0 auto;
  width: 100%;
  max-width: 1360px;
}

.header .header_wrap .logo {
  display: block;
  width: 130px;
}

.header .header_wrap .dep1_menu_wrap {
  font-family: 'roboto';
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.header .header_wrap .dep1_menu_wrap .dep1_menus {
  display: inline-block;
  padding: 20px 25px;
  list-style: none;
  position: relative;
}

.header .header_wrap .dep1_menu_wrap .dep1_menus:after {
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  background: black;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.header .header_wrap .dep1_menu_wrap .dep1_menus:hover:after {
  width: 100%;
}

.header .header_wrap .dep1_menu_wrap .dep1_menus .dm1_menu {
  color: white;
  z-index: 2000;
}

.header .header_wrap .dep1_menu_wrap .dep1_menus .sub_wrap {
  display: none;
  width: 100%;
  padding: 0;
  position: fixed;
  top: 64px;
  left: 0;
  background-color: white;
}

.header .header_wrap .dep1_menu_wrap .dep1_menus .sub_wrap .dep2_menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}

.header .header_wrap .dep1_menu_wrap .dep1_menus .sub_wrap .dep2_menus .dep2_menu {
  padding: 15px 15px;
}

.header .header_wrap .dep1_menu_wrap .dep1_menus .sub_wrap .dep2_menus .dep2_menu ul {
  padding: 10px 0;
}

.header .header_wrap .dep1_menu_wrap .dep1_menus .sub_wrap .dep2_menus .dep2_menu ul li {
  padding: 2px 0;
}

.header .header_wrap .dep1_menu_wrap .dep1_menus:hover .sub_wrap {
  display: block;
}

.header .header_wrap .menu_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_wrap .menu_icons .lang_for {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 110px;
  height: 60px;
  padding: 1rem 0.8rem;
}

.header .header_wrap .menu_icons .lang_for .current_lang {
  position: relative;
  color: white;
}

.header .header_wrap .menu_icons .lang_for .current_lang:after {
  content: '\ea01';
  display: inline-block;
  font-family: 'icon';
  -webkit-font-smoothing: antialiased;
  font-size: 1.2rem;
  font-weight: normal;
  position: absolute;
  right: -22px;
}

.header .header_wrap .menu_icons .icon_search {
  padding: 1rem 0.8rem;
  height: 60px;
}

.header .header_wrap .menu_icons .icon_search span {
  color: white;
}

.header .header_wrap .menu_icons .icon_search span:after {
  content: '\ea15';
  font-family: icon;
  font-size: 1.3rem;
}

main.blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.bg:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(16, 24, 32, 0.1)), to(rgba(16, 24, 32, 0)));
  background: linear-gradient(0deg, rgba(16, 24, 32, 0.1), rgba(16, 24, 32, 0));
}

.section_visual {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section_visual .section_visual_in {
  width: 100%;
  height: 100vh;
  position: relative;
  width: 100%;
  height: 100vh;
  position: relative;
}

.section_visual .section_visual_in .bg, .section_visual .section_visual_in .bg img, .section_visual .section_visual_in .bg video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_visual .section_visual_in .section_txt {
  width: 60%;
  margin: auto;
}

.section_visual .section_visual_in .section_txt .section_txt_tit {
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: 600;
}

.section_visual .section_visual_in .section_txt .section_txt_sub {
  width: 400px;
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 200;
  padding: 15px 0 30px 0;
  display: block;
}

.section_visual .section_visual_in .section_txt .btn_next {
  padding: 14px 30px;
  border: 1px solid black;
}

.section_visual .section_visual_in ul li {
  position: relative;
}

.section_visual .section_visual_in ul li .section_txt {
  color: red;
  position: absolute;
  top: 55%;
  left: 20%;
}

.section_visual .section_visual_in ul li .section_txt .section_txt_tit_b {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 7rem;
}

.section_visual .section_visual_in ul li .section_txt .section_txt_tit_s {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

.section_container {
  width: 100%;
  height: 100vh;
  position: relative;
  position: relative;
}

.section_container .bg, .section_container .bg img, .section_container .bg video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_container .section_txt {
  width: 60%;
  margin: auto;
}

.section_container .section_txt .section_txt_tit {
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: 600;
}

.section_container .section_txt .section_txt_sub {
  width: 400px;
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 200;
  padding: 15px 0 30px 0;
  display: block;
}

.section_container .section_txt .btn_next {
  padding: 14px 30px;
  border: 1px solid black;
}

.section_container .btn_next {
  position: relative;
  background: transparent;
  border: 2px solid black;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.section_container .btn_next span {
  z-index: 2;
  position: relative;
}

.section_container .btn_next:before {
  width: 105%;
  height: 108%;
  z-index: 1;
  content: '';
  position: absolute;
  background: #0071E3;
  left: -2px;
  top: -2px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.section_container .btn_next:hover:before {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.section_container .btn_next:hover span {
  position: relative;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
}

.section_container .section_txt {
  position: absolute;
  top: 30%;
  left: 20%;
}

.section_container .section_txt .section_txt_tit_b {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 7rem;
}

.section_container .section_txt .section_txt_tit_s {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

.section_tumblr {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #ff9d7a;
}

.section_tumblr .bg, .section_tumblr .bg img, .section_tumblr .bg video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_tumblr .section_txt {
  width: 60%;
  margin: auto;
}

.section_tumblr .section_txt .section_txt_tit {
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: 600;
}

.section_tumblr .section_txt .section_txt_sub {
  width: 400px;
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 200;
  padding: 15px 0 30px 0;
  display: block;
}

.section_tumblr .section_txt .btn_next {
  padding: 14px 30px;
  border: 1px solid black;
}

.section_tumblr .btn_next {
  position: relative;
  background: transparent;
  border: 2px solid black;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.section_tumblr .btn_next span {
  z-index: 2;
  position: relative;
}

.section_tumblr .btn_next:before {
  width: 105%;
  height: 108%;
  z-index: 1;
  content: '';
  position: absolute;
  background: #0071E3;
  left: -2px;
  top: -2px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.section_tumblr .btn_next:hover:before {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.section_tumblr .btn_next:hover span {
  position: relative;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
}

.section_tumblr .section_txt {
  position: absolute;
  top: 30%;
  left: 20%;
}

.section_tumblr .section_txt .section_txt_tit_b {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 7rem;
}

.section_tumblr .section_txt .section_txt_tit_s {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

.section_cookware {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section_cookware .bg, .section_cookware .bg img, .section_cookware .bg video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_cookware .section_txt {
  width: 60%;
  margin: auto;
}

.section_cookware .section_txt .section_txt_tit {
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: 600;
}

.section_cookware .section_txt .section_txt_sub {
  width: 400px;
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 200;
  padding: 15px 0 30px 0;
  display: block;
}

.section_cookware .section_txt .btn_next {
  padding: 14px 30px;
  border: 1px solid black;
}

.section_cookware .btn_next {
  position: relative;
  background: transparent;
  border: 2px solid black;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.section_cookware .btn_next span {
  z-index: 2;
  position: relative;
}

.section_cookware .btn_next:before {
  width: 105%;
  height: 108%;
  z-index: 1;
  content: '';
  position: absolute;
  background: #0071E3;
  left: -2px;
  top: -2px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.section_cookware .btn_next:hover:before {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.section_cookware .btn_next:hover span {
  position: relative;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
}

.section_cookware .section_txt {
  position: absolute;
  top: 30%;
  left: 20%;
}

.section_cookware .section_txt .section_txt_tit_b {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 7rem;
}

.section_cookware .section_txt .section_txt_tit_s {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

.section_appliances {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section_appliances .bg, .section_appliances .bg img, .section_appliances .bg video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_appliances .section_txt {
  width: 60%;
  margin: auto;
}

.section_appliances .section_txt .section_txt_tit {
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: 600;
}

.section_appliances .section_txt .section_txt_sub {
  width: 400px;
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 200;
  padding: 15px 0 30px 0;
  display: block;
}

.section_appliances .section_txt .btn_next {
  padding: 14px 30px;
  border: 1px solid black;
}

.section_appliances .btn_next {
  position: relative;
  background: transparent;
  border: 2px solid black;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.section_appliances .btn_next span {
  z-index: 2;
  position: relative;
}

.section_appliances .btn_next:before {
  width: 105%;
  height: 108%;
  z-index: 1;
  content: '';
  position: absolute;
  background: #0071E3;
  left: -2px;
  top: -2px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.section_appliances .btn_next:hover:before {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.section_appliances .btn_next:hover span {
  position: relative;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
}

.section_appliances .section_txt {
  position: absolute;
  top: 30%;
  left: 20%;
}

.section_appliances .section_txt .section_txt_tit_b {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 7rem;
}

.section_appliances .section_txt .section_txt_tit_s {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}

.section_news {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_news .section_news_in {
  width: 60%;
  margin: 0 auto;
}

.section_news .section_news_in .section_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section_news .section_news_in .section_header h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 7rem;
}

.section_news .section_news_in .section_header a {
  margin-bottom: 25px;
  width: 33px;
  height: 33px;
  border: 1px solid #101820;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_news .section_news_in .section_header a:after {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  content: '\ea13';
  display: inline-block;
  font-family: 'icon';
}

.section_news .section_news_in .section_header a:hover {
  background: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.section_news .section_news_in .section_header a:hover:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.section_news .section_news_in ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section_news .section_news_in ul li {
  width: 30%;
}

.section_news .section_news_in ul li .news_effect {
  width: 30%;
}

.section_news .section_news_in ul li .news_effect .news_img {
  overflow: hidden;
}

.section_news .section_news_in ul li .news_effect .news_text_block {
  padding-top: 15px;
}

.section_news .section_news_in ul li .news_effect .news_text_block .news_bg_txt {
  display: inline-block;
  background-color: #54565b;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 3px 8px;
  color: white;
}

.section_news .section_news_in ul li .news_effect .news_text_block strong {
  display: inline-block;
  padding: 15px 0 10px;
}

.section_news .section_news_in ul li .news_effect .news_text_block strong span {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.section_news .section_news_in ul li .news_effect .news_text_block .news_date_txt {
  font-size: 0.8rem;
  font-weight: 400;
  color: #999;
}

.section_news .section_news_in ul li .news_effect:hover strong > span {
  text-decoration: underline;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.section_news .section_news_in ul li .news_effect:hover .news_img > img {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section_lounge {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_lounge .section_lounge_in {
  background-color: #F7F7F7;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.section_lounge .section_lounge_in .section_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section_lounge .section_lounge_in .section_header h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 7rem;
}

.section_lounge .section_lounge_in .section_header a {
  margin-bottom: 25px;
  width: 33px;
  height: 33px;
  border: 1px solid #101820;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_lounge .section_lounge_in .section_header a:after {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  content: '\ea13';
  display: inline-block;
  font-family: 'icon';
}

.section_lounge .section_lounge_in .section_header a:hover {
  background: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.section_lounge .section_lounge_in .section_header a:hover:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.section_lounge .section_lounge_in .sliders {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.section_lounge .section_lounge_in .sliders ul li {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.section_lounge .section_lounge_in .sliders ul li a:hover .bg > img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section_lounge .section_lounge_in .sliders ul li a:hover strong > span {
  text-decoration: underline;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.section_lounge .section_lounge_in .sliders ul li a .bg {
  position: relative;
}

.section_lounge .section_lounge_in .sliders ul li a .bg:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(16, 24, 32, 0.3)), color-stop(rgba(16, 24, 32, 0.2)), to(rgba(16, 24, 32, 0)));
  background: linear-gradient(0deg, rgba(16, 24, 32, 0.3), rgba(16, 24, 32, 0.2), rgba(16, 24, 32, 0));
}

.section_lounge .section_lounge_in .sliders ul li a .slide_txt {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 5% 5%;
  z-index: 1;
}

.section_lounge .section_lounge_in .sliders ul li a .slide_txt strong span {
  color: white;
  font-size: 1.5rem;
}

.section_lounge .section_lounge_in .sliders ul li a .slide_txt .target_box {
  padding: 20px 0;
}

.section_lounge .section_lounge_in .sliders ul li a .slide_txt .target_box span {
  color: white;
}

.section_lounge .section_lounge_in .sliders ul li a .slide_txt .lounge_date {
  color: white;
  font-size: 0.8rem;
}

.section_lounge .section_lounge_in .sliders .control_box {
  width: 60%;
  margin: 0 auto;
  height: 50px;
  padding-top: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_lounge .section_lounge_in .sliders .control_box .control_bar_wrap {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_lounge .section_lounge_in .sliders .control_box .control_bar_wrap .control_bar {
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.section_lounge .section_lounge_in .sliders .control_box .control_bar_wrap .control_bar span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 33.3%;
  height: 4px;
  background: black;
  z-index: 5;
}

.section_lounge .section_lounge_in .sliders .control_box .controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  position: absolute;
  right: 0px;
}

.section_lounge .section_lounge_in .sliders .control_box .controller .btn_swipe_prev {
  width: 60px;
  height: 60px;
}

.section_lounge .section_lounge_in .sliders .control_box .controller .swipe_num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_lounge .section_lounge_in .sliders .control_box .controller .swipe_num .swipe_current {
  margin: 0 0.6rem;
}

.section_lounge .section_lounge_in .sliders .control_box .controller .swipe_num .swipe_length {
  margin: 0 0.6rem;
}

.section_lounge .section_lounge_in .sliders .control_box .controller .btn_swipe_next {
  width: 60px;
  height: 60px;
}

.section_contact {
  width: 100%;
  position: relative;
}

.section_contact .contact_in {
  width: 60%;
  margin: 0 auto;
  padding: 100px 0 120px;
}

.section_contact .contact_in .section_header2 h2 {
  font-size: 4rem;
  padding-bottom: 10px;
}

.section_contact .contact_in .contact_pad_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.section_contact .contact_in .contact_pad_row .contact_pad1 {
  width: 40%;
}

.section_contact .contact_in .contact_pad_row .contact_pad1 .h3_txt {
  font-size: 1.5rem;
  line-height: 4rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.section_contact .contact_in .contact_pad_row .contact_pad1 p {
  padding-bottom: 20px;
}

.section_contact .contact_in .contact_pad_row .contact_pad1 .btn_next {
  display: inline-block;
  padding: 14px 30px;
  border: 1px solid black;
  font-weight: 400;
  position: relative;
  background: transparent;
  border: 2px solid black;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  background: black;
}

.section_contact .contact_in .contact_pad_row .contact_pad1 .btn_next span {
  z-index: 2;
  position: relative;
}

.section_contact .contact_in .contact_pad_row .contact_pad1 .btn_next:before {
  width: 105%;
  height: 108%;
  z-index: 1;
  content: '';
  position: absolute;
  background: #0071E3;
  left: -2px;
  top: -2px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.section_contact .contact_in .contact_pad_row .contact_pad1 .btn_next:hover:before {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.section_contact .contact_in .contact_pad_row .contact_pad1 .btn_next:hover span {
  position: relative;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
}

.section_contact .contact_in .contact_pad_row .contact_pad1 .btn_next span {
  color: white;
}

.section_contact .contact_in .contact_pad_row .contact_pad2 {
  border-left: 1px solid rgba(16, 24, 32, 0.2);
  padding-left: 5%;
  width: 50%;
}

.section_contact .contact_in .contact_pad_row .contact_pad2 .h3_txt {
  font-size: 1.5rem;
  line-height: 4rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.section_contact .contact_in .contact_pad_row .contact_pad2 .qna_btns a {
  font-size: 0.8rem;
  display: inline-block;
  padding: 8px 18px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  margin: 0 1px 8px;
}

.section_contact .contact_in .contact_pad_row .contact_pad2 .qna_btns a:hover {
  background: black;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.banner {
  position: relative;
  width: 100%;
  height: 450px;
}

.banner .banner_img {
  background: #3247cd;
  width: 100%;
  height: 100%;
  position: relative;
}

.banner .banner_img .bg, .banner .banner_img .bg img, .banner .banner_img .bg video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .banner_txt {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner .banner_txt .banner_txt_tit {
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: white;
  padding-bottom: 30px;
}

.banner .banner_txt .btn_next {
  display: inline-block;
  position: relative;
  background: transparent;
  border: 2px solid black;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  padding: 14px 30px;
  border: 1px solid white;
}

.banner .banner_txt .btn_next span {
  z-index: 2;
  position: relative;
}

.banner .banner_txt .btn_next:before {
  width: 105%;
  height: 108%;
  z-index: 1;
  content: '';
  position: absolute;
  background: #0071E3;
  left: -2px;
  top: -2px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.banner .banner_txt .btn_next:hover:before {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.banner .banner_txt .btn_next:hover span {
  position: relative;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
}

.banner .banner_txt .btn_next span {
  color: white;
}

.section_now {
  width: 100%;
  padding: 6rem 0;
  position: relative;
}

.section_now .section_wrap {
  width: 60%;
  margin: 0 auto;
}

.section_now .section_wrap .section_in .section_header {
  width: 100%;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section_now .section_wrap .section_in .section_header h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 7rem;
}

.section_now .section_wrap .section_in .section_header a {
  margin-bottom: 25px;
  width: 33px;
  height: 33px;
  border: 1px solid #101820;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_now .section_wrap .section_in .section_header a:after {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  content: '\ea13';
  display: inline-block;
  font-family: 'icon';
}

.section_now .section_wrap .section_in .section_header a:hover {
  background: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.section_now .section_wrap .section_in .section_header a:hover:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.section_now .section_wrap .section_in ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_now .section_wrap .section_in ul li {
  width: 30%;
  margin-bottom: 5%;
  position: relative;
}

.section_now .section_wrap .section_in ul li .icon_insta {
  width: 100%;
  position: absolute;
  color: #FFF;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 10% 7%;
  text-align: right;
  line-height: 1;
}

.section_now .section_wrap .section_in ul li .icon_insta:before {
  z-index: 9999;
  content: '\ea18';
  display: inline-block;
  font-size: 1.5rem;
  font-family: 'icon';
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

.section_now .section_wrap .section_in ul li .icon_insta:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(16, 24, 32, 0.3)), color-stop(rgba(16, 24, 32, 0.2)), to(rgba(16, 24, 32, 0)));
  background: linear-gradient(0deg, rgba(16, 24, 32, 0.3), rgba(16, 24, 32, 0.2), rgba(16, 24, 32, 0));
}

.section_now .section_wrap .section_in ul li a {
  display: inline-block;
  width: 100%;
  position: relative;
}

.section_now .section_wrap .section_in ul li a:hover .now_img_wrap > img {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section_now .section_wrap .section_in ul li a .now_img_wrap {
  display: inline-block;
  width: 100%;
  background: green;
  overflow: hidden;
}

.section_now .section_wrap .section_in ul li a .now_img_wrap img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background: #ececec;
  text-align: center;
  padding: 50px;
  position: relative;
}
/*# sourceMappingURL=index.css.map */