@import url('font.css');

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* 개인 슬라이드화면 스타일 수정시 참고*/




/* 인디게이터 ul > li > button */

.main_slider .slick-dots{
    position: absolute;
    left: 20%; top:75%;

    z-index: 50;
}
.main_slider .slick-dots li{
    display: inline-block;
}
.main_slider .slick-dots li button{
    width: 40px; height: 3px;
    background: rgba(0,0,0,0.2);
    font-size: 0;
    margin: 0 6px;
    padding: 0; border: 0;
} 

.main_slider .slick-dots li button:hover{
    background: white;
}
.main_slider .slick-dots li.slick-active button{
    background : white;
} 







/* 슬라이드 (이미지, 좌우버튼, 인디게이터) */
.slider{
    width: 100%; height: 100vh;
    position: relative;
}
.slick-list{
    width: 100%; height: 100%;
}
.slick-list img{
    width: 100%; height: 100%;
}





/* 라운지 슬라이드 */


.lounge_slider{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.lounge_slider .slick-list{
    width: 70%;
    margin: 0 15%;
    overflow:visible !important;
    
}
.lounge_slider .slick-list li{
    height:auto !important;
    overflow:hidden;

}
.lounge_slider .slick-list li a{
    display:block; height:100%;
    margin: 0 30px  ;
    width: 100%;
    overflow:visible !important;
}
.lounge_slider .slick-list picture{
    width: 100% !important;
    height:auto !important;
    position:relative !important;
    display:block;
    overflow:hidden !important;
    
}

.lounge_slider .slick-list picture img{
    /* height: auto !important; */
    position:relative !important;
    transition: .5s;
}



/* 라운지 좌우버튼 */
.lounge_slider .slick-arrow{
    position: absolute;     
    bottom: -11%;
    z-index: 9999;
    border: 0;
    font-size: 0;
    background: none;
}
.lounge_slider .slick-prev{right: 31%;}
.slick-prev::after{
    content: '\ea04' ;
    display: inline-block;
    font-family: 'icon';
    font-size: 1.4rem;
}
.lounge_slider .slick-next{right: 20%;}
.slick-next::after{
    content: '\ea06';
    display: inline-block;
    font-family: 'icon';
    font-size: 1.4rem;

}




