p, span {
  word-break: keep-all;
  word-wrap: break-word;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "NotoSans", sans-serif;
  color: #333;
  font-size: 1rem;
  font-size: 1rem;
  line-height: 1.6;
  list-style: none;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

video, img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
}

section {
  display: block;
}

.section_cover_wrap .section_cover {
  width: 100%;
  height: 100vh;
  position: relative;
  border: #380202 solid 3px;
}

.section_cover_wrap .section_cover .bg, .section_cover_wrap .section_cover .bg img, .section_cover_wrap .section_cover .bg video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_cover_wrap .section_cover .s_content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section_cover_wrap .section_cover .s_content .intro_top span {
  display: inline-block;
  padding: 0 0 50px;
}

.section_cover_wrap .section_cover .s_content .intro_top span img {
  width: 80%;
}

.section_cover_wrap .section_cover .s_content .intro_content p {
  width: 500px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 500;
  padding: 20px 0;
}

.section_philosophy_wrap .section_philosophy {
  width: 100%;
  height: 100vh;
  position: relative;
  background: rosybrown;
}

.section_philosophy_wrap .section_philosophy .bg, .section_philosophy_wrap .section_philosophy .bg img, .section_philosophy_wrap .section_philosophy .bg video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_philosophy_wrap .section_philosophy .section_txt {
  width: 60%;
  margin: auto;
}

.section_philosophy_wrap .section_philosophy .section_txt .section_txt_tit {
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: 600;
}

.section_philosophy_wrap .section_philosophy .section_txt .section_txt_sub {
  width: 400px;
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 200;
  padding: 15px 0 30px 0;
  display: block;
}

.section_philosophy_wrap .section_philosophy .section_txt .btn_next {
  padding: 14px 30px;
  border: 1px solid black;
}

.section_philosophy_wrap .section_philosophy .s_content {
  position: absolute;
  width: 80%;
  top: 40%;
  left: 20%;
}

.section_application_wrap .section_application {
  border: royalblue 1px solid;
  width: 100%;
  height: 100vh;
  position: relative;
}

.section_application_wrap .section_application .bg, .section_application_wrap .section_application .bg img, .section_application_wrap .section_application .bg video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section_application_wrap .section_application .section_txt {
  width: 60%;
  margin: auto;
}

.section_application_wrap .section_application .section_txt .section_txt_tit {
  font-size: 2.8rem;
  line-height: 4rem;
  font-weight: 600;
}

.section_application_wrap .section_application .section_txt .section_txt_sub {
  width: 400px;
  font-size: 1rem;
  line-height: 1.7rem;
  font-weight: 200;
  padding: 15px 0 30px 0;
  display: block;
}

.section_application_wrap .section_application .section_txt .btn_next {
  padding: 14px 30px;
  border: 1px solid black;
}

.section_application_wrap .section_application .s_content {
  position: absolute;
  width: 80%;
  top: 40%;
  left: 20%;
}
/*# sourceMappingURL=sub.css.map */